<settings>
  <profiles>
    <profile>
      <id>EvalEx</id> <!-- give it the name of your project -->
      <properties>
        <gpg.homedir>/home/uk</gpg.homedir>
        <gpg.keyname>2116341C</gpg.keyname>
        <gpg.passphrase>3714A63B5X3</gpg.passphrase>
      </properties>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>sonatype</id>
      <username>uklimaschewski<!-- Sonatype JIRA user name --></username>
      <password>jir56uk123!<!-- Sonatype JIRA pwd --></password>
    </server>
  </servers>
</settings>
